<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet">
    <link rel="stylesheet" href="assets/main.css" media="screen" title="no title">
    <!-- <link rel="stylesheet" href="assets/chartist.min.css" media="screen" title="no title"> -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="assets/jquery.min.js"></script>
    <script type="text/javascript" src="assets/vue.min.js"></script>
  </head>
  <body>
    <div id="app">
      <nav id="menu" class="col-md-2" v-bind:class="activeNav" v-on:click.prevent>
        <div class="top-menu">
          Balance {{ balance }} ETH
        </div>
        <ul>
          <li class="buy-options active" v-on:click="makeActiveNav('buy-options')">Buy Options</li>
          <li class="active-orders" v-on:click="makeActiveNav('active-orders')">Active Orders</li>
          <li class="history" v-on:click="makeActiveNav('history')">History</li>
          <li class="help" v-on:click="makeActiveNav('help')">How to works?</li>
        </ul>
      </nav>

      <section id="menu-open-bar" class="col-md-3">
        <div class="search">
          <input type="text" v-model="searchString" placeholder="Search by pair or market name" />
        </div>
        <script type="text/javascript">
          function displayNumber(n) {
            if ( (Math.round( n * 100 ) / 100).toFixed(2) == n ) {
              return (Math.round( n * 100 ) / 100).toFixed(2);
            } else {
              var nLength = n.toString().replace('.', '').length;
              if (nLength > 8) {
                return parseFloat(n.toString().slice(0, 8-nLength));
              } else {
                return n;
              }
            }
          }

        </script>
        <div class="pair-container">
          <ul v-for="pairSearchData in filteredPairs" v-on:click.prevent>
            <span class="pair-data" v-show.visible="false">{{ pair = pairs[pairSearchData.id] }}</span>
            <li class="pair" v-bind:class="pairSearchData.id" v-on:click="makeActivePair(pairSearchData.id)">
              <ul>
                <li class="name">
                  {{ pair.fsym.toUpperCase() }}/{{ pair.tsym.toUpperCase() }}
                  <span>{{ pair.exchange }}</span>
                </li>
                <li class="mini-graph">
                  show graph here
                </li>
                <li class="price" v-if="pair.change >= 0">
                  {{ displayNumber( pair.price ) }}
                </li>
                <li class="price red" v-else>
                  {{ displayNumber( pair.price ) }}
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </section>

      <section id="content" class="col-md-7" v-bind:class="activePair">
        <span class="pair-data" v-show.visible="false">{{ pair = pairs[activePair] }}</span>
        <section class="header">
          <ul class="left">
            <li class="price">
              {{ displayNumber( pair.price ) }}
            </li>
            <li class="price-change" v-if="pair.change >= 0">
              +{{ displayNumber(pair.change) }} ({{ (pair.changePercent).toFixed(2) }}%)
            </li>
            <li class="price-change red" v-else>
              {{ displayNumber(pair.change) }} ({{ (pair.changePercent).toFixed(2) }}%)
            </li>
          </ul>
          <ul class="right">
            <li class="pair-name">
              {{ pair.fsym.toUpperCase() }}/{{ pair.tsym.toUpperCase() }}
            </li>
            <li class="exchange">
              {{ pair.exchange }}
            </li>
          </ul>
        </section>
        <section class="graph">
          <canvas id="sparkline" width="100%" height="100%" style="z-index: 100;">
            Your browser does not support the HTML5 canvas tag. Please upgrade your browser. We reccomend you install <a href="https://www.google.com/chrome/browser/desktop/">Google Chrome</a>
          </canvas>
          <nav class="time-frame-menu">
            <ul>
              <li class="day active" v-on:click="makeActiveTimeFrame('day')">1 day</li>
              <li class="week" v-on:click="makeActiveTimeFrame('week')">1 week</li>
              <li class="month" v-on:click="makeActiveTimeFrame('month')">1 month</li>
              <li class="month3" v-on:click="makeActiveTimeFrame('month3')">3 months</li>
              <li class="month6" v-on:click="makeActiveTimeFrame('month6')">6 months</li>
              <li class="year" v-on:click="makeActiveTimeFrame('year')">1 year</li>
            </ul>
          </nav>
        </section>
        <section class="footer">
          <div class="col-xs-6">
            <div class="button green put">Put</div>
          </div>
          <div class="col-xs-6">
            <div class="button red call">Call</div>
          </div>
        </section>
      </section>
    </div>

    <script type="text/javascript" src="assets/app.js"></script>
    <script src="assets/socket.io-1.4.5.js"></script>
    <script src="assets/autobahn.min.js"></script>
    <script type="text/javascript" src="assets/updateData.js"></script>
    <script src="assets/sparkline.js"></script>

    <script type="text/javascript" src="assets/web3.min.js"></script>
    <script type="text/javascript" src="assets/ethereum-interaction.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
